#output {
	border: 2px solid blue;
	color:red;
	font-weight: bold;
	font-size: 2rem;
	background-color: #00ffff;
	margin: 20px;
	padding: 20px;
	display: block; 
}


#address {
	border: 2px solid blue;
	color:red;
	font-weight: bold;
	font-size: 2rem;
	background-color: #e9967a;
	margin: 20px;
	padding: 20px;
	display: block; 
}