#input {
  background-color: #85144b; }
  #input a {
    color: #ffdc00; }
  #input div {
    padding: 5px; }

#address {
  background-color: #39cccc; }
  #address div {
    font-family: "luckiest Guy", cursive; }
